<!DOCTYPE html>
<html>
<head>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

	<title>ERP - {{ sub_titulo }}</title>    
</head>

<body>

	<!-- CABECALHO -->
	{% include 'cabecalho.html' %}

	<!-- CONTEUDO -->
	<div class="section">
		<ul class="collapsible" data-collapsible="accordion">
		  <li>
			<div class="collapsible-header"><span class="new badge">4</span><i class="material-icons">contact_phone</i>Contatos</div>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
		  </li>
		  <li>
			<div class="collapsible-header"><span class="badge">1</span><i class="material-icons">grade</i>Favoritos</div>
			<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
		  </li>

		</ul>
	</div>

	<div class="section">
		<div class="row">
			{% include 'menu-button.html'%}
			<div class="col s10">
				{% block conteudo %}
					<p>Conteúdo aqui!</p>
				{% endblock %}
			</div>
			<!-- Cards -->
			<div class="col s2">
				{% include 'cards.html' %}
			</div>
		</div>
	</div>
	<!-- Fim -->

	<!-- RODAPE -->

	<div class="section">
		{% include 'rodape.html' %}
	</div>
</body>
</html> 